<!-- main navigation -->
<nav>
  <ul id="nav-list">
    <li class="nav-item selected"><a href="#">Order</a></li>
    <li class="nav-item"><a href="#">Menu</a></li>
    <li class="nav-item"><a href="#">Specials</a></li>
    <li class="nav-item"><a href="#">Deserts</a></li>
    <li class="nav-item"><a href="#">Drinks</a></li>
    <li class="nav-item"><a href="#">Merch n' Swag</a></li>
  </ul>
  <div style="align-self: center; margin-right: 2em;">
    <i class="fa fa-shopping-cart" style="font-size:48px;color:white;"></i>
    <span class="cart-total">{{cartTotal}}</span>
  </div>
</nav>



